1.  what is data structure, and why are they important?
    

*   Data strucuture is way to of organizing and sorting data so that it can be accessed and manipulated efficintly
*   choosing the right data structure sinngnificanty impacts the  efficiency and perfomance of your program



2. Explain the difference between mutable and immutable data type with examples?


*   mutable data tpye
    >objects whose value can be changed after creation.
    
     example
      my_list:[1,2,3]
      my_list[1]=3 #modify the first element
      print (my_list)
  o|p
      [3,2,3]
*   immutable data type
    >object whose  value  can be not chenged after creation.
    
      example
     my_list:[1,2,3]
      my_list[0]=2   #show some errorthe value will be not changed
  

3. What are the main differences between lists and tuples in Python?
   
*   list are mutable and after creation then changed a value
*   tuple are immutable and is not changed a value after cretion

4. Describe how dictionaries store data?

*  dictionaries store data using a structure called key-value pair.

5. Why might you use a set instead of a list in Python?

*  You might use a set instead of a list in Python for the key reasons.

6. What is a string in Python, and how is it different from a list?

*  A string in Python is a sequence of characters, while a list is a sequence
   of any data type, including numbers, strings, or even other lists.


7.  How do tuples ensure data integrity in Python?

*  A tuple is an immutable sequence type.
*  Once a tuple is created, its contents cannot be changed — no adding,
   removing, or altering elements.

8. What is a hash table, and how does it relate to dictionaries in Python?

* A hash table is a data structure that allows for fast data retrieval by using
  a key to compute an index into an array, where the value is stored.

9. Can lists contain different data types in Python?

*  Yes, lists can contain different data types in Python.
*  Python lists are heterogeneous, meaning you can store elements of different
   data types in the same list.


10. Explain why strings are immutable in Python?



*  Strings are immutable in Python to ensure efficiency, safety, and consistent
   behavior.

11. What advantages do dictionaries offer over lists for certain tasks?



*  Dictionaries offer key advantages over lists for certain tasks, especially
   when you need to associate keys with values and access data quickly.


12. Describe a scenario where using a tuple would be preferable over a list?

*  A tuple is preferable over a list when you need a fixed, immutable  
   collection of items.

13. How do sets handle duplicate values in Python?

*  in python set automatically remove duplicate value.

14. How does the “in” keyword work differently for lists and dictionaries?

*  The in keyword works differently for lists and dictionaries in Python  
  because it checks different things depending on the data structure.

15. Can you modify the elements of a tuple? Explain why or why not?


*  you cannot modify the elements of a tuple in Python because
   tuple are immutable.

16. What is a nested dictionary, and give an example of its use case?
  
*  A nested dictionary in Python is a dictionary inside another dictionary. It
   allows you to store complex, hierarchical data—essentially creating a multi-level structure.

   use case
   inventory = {
    "fruits": {"apple": 10, "banana": 5},
    "vegetables": {"carrot": 7, "broccoli": 4}
  }

17. Describe the time complexity of accessing elements in a dictionary?

*  This means accessing, inserting, or deleting elements is usually very fast
   and constant time, regardless of dictionary size.

18. In what situations are lists preferred over dictionaries?

*  Lists maintain insertion order, and items can be accessed by position.

19. Why are dictionaries considered unordered, and how does that affect data
  retrieval?

* dictionaries did not guarantee any order of their items. The internal
  implementation used hash tables, which stored keys based on their hash value, not in the order they were added.

20. Explain the difference between a list and a dictionary in terms of data
  retrieval.

*  Lists store items in an ordered sequence.
*  Dictionaries store data as key-value pairs.

In [41]:
#1.Write a code to create a string with your name and print it.
name="kalyani"
print("kalyani")

kalyani

In [3]:
#2.Write a code to find the length of the string "Hello World"
my_string="hello world"
length=len("my_string")
print(length)

9

In [4]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
my_string="python programming"
slice =my_string[0:3]
print (slice)

pyt

In [5]:
#4.Write a code to convert the string "hello" to uppercase
my_string="hello"
uppercase=my_string.upper()
print(uppercase)

HELLO

In [6]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
my_string="I like apple"
replace =my_string.replace("apple","orange")
print (replace)

I like orange

In [7]:
#6.Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list=[1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 5, 10]

In [9]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5, 10]

In [10]:
#9 write to code to access seecond element in the list ["a","b","c","d"]
my_list= ["a","b","c","d"]
second_element=my_list[1]
print(second_element)

b

In [11]:
#10 write a code to reverse the list [10,20,30,40,50]
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [42]:
#11 write a code to create a tuple with the element 100,200,300 and print it.
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

In [44]:
#12 write a code to access the second-to-last element of the tuple('red','green','blue','yello')
my_tuple=('red','green','blue','yello')
second_to_last_element=my_tuple[-2]
print(second_to_last_element)

blue

In [45]:
#13 write to code to find a minimum number in the tuple(10,20,5,15)
my_tuple=(10,20,5,15)
minimum=min(my_tuple)
print(minimum)

5

In [23]:
#14 write to find index of the element'cat'in the tuple ('dog','cat','rabbit')
my_tuple=('dog','cat','rabbit')
index=my_tuple.index('cat')
print(index)

1

In [24]:
#15 write a code to create a tuple containing three deffirent fruits and check if "kiwi" is in it.
fruit=("mango","apple","kiwi")
if "kiwi" in fruit:
  print ("kiwi is present")
else:
  print("kiwi is not present")

kiwi is present

In [25]:
#16 write to code to create a set with element 'a','b','c' and print it.
my_set={'a','b','c'}
print(my_set)

{'a', 'b', 'c'}

In [26]:
#17 write  a code to clear all element from the set {1,2,3,4,5}.
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [27]:
#18 write  a code to remove the element 4 from the set  {1,2,3,4}
my_set={1,2,3,4}
my_set.remove(4)
print (my_set)

{1, 2, 3}

In [28]:
#19 write a code  find the uninon of two set{1,2,3} and {3,4,5}
set1={1,2,3}
set2={3,4,5}
union=set1.union(set2)
print(union)

{1, 2, 3, 4, 5}

In [29]:
#20 write a code find the intersection of two set{1,2,3} and {3,4,5}
set1={1,2,3}
set2={3,4,5}
intersection=set1.intersection(set2)
print(intersection)

{3}

In [30]:
#21 write a code to create to a dictionary with the keys"name","age"and "city" and print it.
my_dict={"name":"sahil","age":20,"city":"surat"}
print(my_dict)

{'name': 'sahil', 'age': 20, 'city': 'surat'}

In [31]:
#22 write a code to add  a new key-value pair"country:"usa" to the dictionary {'name':'alice','age':25}
dict={"name":"alice","age":25}
dict["country"]="usa"
print(dict)

{'name': 'alice', 'age': 25, 'country': 'usa'}

In [32]:
#23 write a code to access the value associated with the key "name"in the dictonary {'name':'alice','age':30}
dict={'name':'alice','age':30}
value=dict["name"]
print(value)

alice

In [33]:
#24 write a code to remove  the key "age" from the dictionary {'name':'bob','age':22,'city':'new york'}
dict={'name':'bob','age':22,'city':'new york'}
del dict["age"]
print(dict)

{'name': 'bob', 'city': 'new york'}

In [35]:
#25 write a code to check if the key "city" exisist in the dictionary {'name':'alice','city':'paris'}
dict={'name':'alice','city':'paris'}
if 'city' in dict:
  print("city is present")
else:
  print("city is not present")

city is present

In [36]:
#26 write a code  to create a list  with string and printt  the  element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [37]:
#27 write a code to create a  list, a tuple,a dictonary,and print them all.
list=[1,2,3,4]
print(list)
tuple={1,2,3,4}
print(tuple)
dict ={'a':2,'b':3}
print(dict)

[1, 2, 3, 4]
{1, 2, 3, 4}
{'a': 2, 'b': 3}

In [38]:
#28 write a code to create  a list of 5 random number between 1 to 100 ,sort it in  ascending order,and print the  result
list=[1,33,55,67,89]
ascending_order=sorted(list)
print(ascending_order)

[1, 33, 55, 67, 89]

In [39]:
#29 write a code to comine two dictionaries into one and  print the result.
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
combine_dict=(dict1|dict2)
print(combine_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
#30 write a code to convert a list of string into a set.
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)
print(my_set)

{'date', 'cherry', 'banana', 'apple'}